*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.container {
    display: flex;
    flex: 1;
    position: relative;
}
body{
    max-width: 100%;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    
}
.logo{
    margin: 50px 0 100px 100px;
}
h1{
    font-size: 50px;
    font-weight: 500;
    color: hsl(0, 36%, 70%);
    letter-spacing: 6px;
}
h2, h3{
    font-size: 60px;
    letter-spacing: 6px;
    font-weight: 100;
    margin: -35px 0 0 0;
}
.description{
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    margin-bottom: 30px;
}
input[type="email"] {
    width: 80%;
    height: 50px;
    border: 2px solid  hsl(0, 93%, 68%);
    border-radius: 50px;
    padding: 25px;
}
.error-icon{
    margin: -45px;
}
.submit-btn{
    width: 20%;
    height: 57px;
    background-color:  hsl(0, 80%, 86%);
    border-radius: 30px;
    margin: -80px;
    border-style: none;
    cursor: pointer;
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.submit-btn:hover{
    background-color: hsl(0, 74%, 74%);
    font-size: 26px;
}
.error-msg{
    color:hsl(0, 93%, 68%);
    font-size: 15px;
    margin: 10px 10px 100px;
}
.content{
    margin-left: 100px;
    margin-right: 100px;
   padding: auto;
}
.left, .right {
    position: relative;
    flex: 1;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.left{
    background-image: url('images/bg-pattern-desktop.svg');
    
}
.right{
    background-image: url('images/hero-desktop.jpg');
}
footer{
    position: absolute;
    background-color: hsl(0, 36%, 70%);
    width: 100%;
    height: 100px;
    justify-content: center;
    text-align: center;
    
}
footer p{
    margin-top: 60px;
    color: white;
}
footer a{
    text-decoration: none;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    height: auto;
  }

  .logo {
    margin: 30px auto;
    text-align: center;
  }

  .content {
    margin: 20px;
    text-align: center;
  }

  h1, h2, h3 {
    font-size: 36px;
    letter-spacing: 4px;
    margin: 0;
  }

  .description {
    font-size: 14px;
    margin: 20px 0;
  }

  form {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  input[type="email"] {
    width: 90%;
  }

  .submit-btn {
    width: 40%;
    margin: -40px;
  }
  .submit-btn:hover{
    font-size: 24px;
  }

  .error-msg {
    margin: 40px;
    font-size: 13px;
  }

  footer {
    position: relative;
    height: auto;
    padding: 20px;
  }

  footer p {
    margin-top: 20px;
  }
}


